.header {
  padding-top: 6px;
  padding-bottom: 137px;
  
  @media screen and (min-width: 768px) {
    padding-top: 37px;
    padding-bottom: 84px; 
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  height: 50px;
  width: 199px;
}
.nav {
  font-weight: 700;
  font-size: 16px;
  margin: 0 110px;
  
}
.nav__list{
  display: none; 
  gap: 35px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.nav__link{
  color: $main-text-color;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1), 2s;
}
.nav__link:hover,
.nav__link:focus{
  color: $red-color;
}
.header__btn{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: $main-text-color;
  color: $red-color;
  border-color:$main-text-color;
  border-radius: 22px;
  padding: 10px 37px;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.header__btn:hover,
.header__btn:focus{
background-color: #ECEBEB;
cursor: pointer;
}
.header__btn::after{
  content: "";
display: inline-block;
height: 12px;
width: 12px;
background-image: url(../images/header_images/header_arrow.svg);
background-position: center;
padding-left: 2px;
background-repeat: no-repeat;
}
