.products{
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: $main-text-color;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
  padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px){
    padding-top: 126px;
    padding-bottom: 119px;
  }
}
.products__second-title{
  font-family: Titan One;
font-weight: 400;
font-size: 18px;
text-transform: uppercase;
text-align: center;
color: $pink-color;
margin-bottom: 15px;
@media screen and (min-width: 768px) {
  font-size: 26px;
}
@media screen and (min-width: 1200px){
  font-size: 30px;
}
}
.products__title{
  font-family: Titan One;
  font-weight: 400;
font-size: 34px;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: center;
color: $red-color;
@media screen and (min-width: 768px) {
  font-size: 48px;
}
@media screen and (min-width: 1200px){
  font-size: 58px;
}
}
.products__list{
  display: block;
 margin-top: 270px;
 margin-left: -10px;

  @media screen and (min-width: 768px) {
  
    margin-left: 0;
    margin-bottom: 0;
    gap: 20px; 
  }
  @media screen and (min-width: 1200px) {
     display: flex; 
     margin-top: 259px;
    gap: 23px; 
  }
}
.products__item{
 width:280px; 
 height: 485px;
 padding: 165px 60px 60px;  
    border-radius: 24px;
    position: relative;
    background-color: #F0D1A5;
   margin-bottom: 310px;
   margin: 0 auto;
    @media screen and (min-width: 768px) {
     width: 220px;
     margin-top: 0;
     margin-bottom: 310px;
    }
    @media screen and (min-width: 1200px) {
      width: 330px;
      height: 525px;
      margin-top: 0;
      margin-bottom: 0;
    }
}
.products__item:first-child{
  margin-bottom: 310px;
  background-color:$main-bg-color;
}
.products__item:last-child{
  background-color: #C2E297;  
   margin-top: 310px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
   }
 
}
.products__img{
  position: absolute;
  top: -250px;
  left: 7px;
  @media screen and (min-width: 768px) {
    left: 7px;
   }
  @media screen and (min-width: 1200px) {
    top: -250px;
    left: 7px;
   }
}
.products__subtitle{
  text-align: center;
  font-family: Titan One;
font-weight: 400;
font-size: 20px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $main-text-color;
margin-bottom: 30px;
@media screen and (min-width: 1200px) {
  font-size: 30px;
  margin-bottom: 32px;
 }
}
.products__dots{
  display: block;
  width: 26px;
  height: 6px; 
  margin: 0 auto;
 
}
.products__text{
  text-align: center;
  margin-top: 30px 0;
  font-weight: 700;
font-size: 16px;
line-height: 176%;
letter-spacing: 0.04em;
color: $main-text-color;
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
   }
}
.products__text::after{
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../images/products_images/products_arrow.png') ;
  margin: 30px auto;
  @media screen and (min-width: 1200px) {
    margin-top: 66px;
    margin-bottom: 50px;
    
  }
}
