.container {
  width: 100%; /* Ширина контейнера 100% */
  max-width: 320px; /* Максимальна ширина контейнера 320px */
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box; /* Включає padding у розмір контейнера */
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%; /* Для екранів більше ніж 768px контейнер займає 100% */
    max-width: 768px; /* Максимальна ширина контейнера 768px */
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%; /* Для екранів більше ніж 1200px контейнер займає 100% */
    max-width: 1200px; /* Максимальна ширина контейнера 1200px */
  }
}
